body{
    background: rgb(0, 0, 0);
    font: normal 15pt Comic Sans MS;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background: white;
    border-radius: 5px;
    padding: 6px;
    width: 425px;
    margin: auto;
    box-shadow: 5px 5px 10px white;
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
